/* Style the header */
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: rgba(85, 85, 85, 0.452);
    color: #f1f1f1;
    width: 90%;
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 2%;
    z-index: 10000;
    height: 90px;
    position: absolute;
}
  /* The sticky class is added to the header with JS when it reaches its scroll position */
  .sticky {
    border-bottom: 3px solid rgba(238, 9, 9, 0.308);
    position: fixed;
    display: flex;
    justify-content: space-between;
    align-items: center;
    top: 0;
    left: 0;
    margin: 0;
    z-index: 10000;
    height: 90px;
    width: 100%
  }
    .sticky + .slideshow-container {
    padding-top: 90px;
  }
  .logo {
    margin-left: 10px;
  }
  .logo img {
    width: 80px;
    height: 80px;
    border-radius: 50%;
  }
  /* top navbar */
.topnav {
  margin-right: 10px; 
}
/* Style the links inside the navigation bar */
.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  text-decoration: none;
  font-size: 18px;
  margin-right: 5px;
  padding: 8px;
}

/* Change the color of links on hover */
.topnav a:hover {
  background-color: #ddd;
  color: black;
}

/* Add a color to the active/current link */
.topnav a.active {
  background-color: #04AA6D;
  color: white;
}

/* custom scrollbar */
::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-track {
  background: #000;
}

::-webkit-scrollbar-thumb {
  background: rgb(214, 92, 36);
}

::-webkit-scrollbar-thumb:hover {
  background: blue;
}
